<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="dkan_base_theme">
    <arg name="extensions" value="php,theme,yml"/>
    <description>PHP CodeSniffer configuration for dkan_base_theme.</description>
    <rule ref="Drupal" />
    <rule ref="DrupalPractice" />
    <rule ref="Drupal.Commenting.FunctionComment.Missing">
        <exclude-pattern>*/tests/*\.php</exclude-pattern>
    </rule>
    <rule ref="Drupal.Commenting.VariableComment.Missing">
        <exclude-pattern>*/tests/*\.php</exclude-pattern>
    </rule>
</ruleset>
